#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navListItems > img {
  transition: 0.3s;
}

.navListItems > img:hover {
  transform: scale(1.1);
}

nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1280px 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #777;
}

.navWrapper {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
}

.navListItems {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.navListItems a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}

nav > div {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navListItems > div {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav div div {
  border: 1px solid red;
}

.btn {
  background-color: green;
  color: white;
  border: black;
  outline: none;
  padding: 1em;
  font-size: 1.5rem;
  border-radius: 5px;
}

.btn5 {
  color: white;
  border: black;
  outline: none;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.5s;
}

.btn5:active {
  transform: scale(0.9);
}
.shopImg {
  transition: 0.3s;
}

.shopImg:hover {
  transform: scale(1.1);
}

.shopImg:active {
  transform: scale(0.9);
}
/* --------------------Wrapper--------------------- */
.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1280px 1fr;
}
/* --------------------Main--------------------- */
main {
  min-height: 80vh;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

/* =======Product=======  <--------------------------------- */
.shopSection {
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
}

.productContainer {
  border: 1px solid black;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product img {
  padding: 1em;
  width: 90%;
  height: 90%;
  border-bottom: 1px solid black;
  object-fit: cover;
}

.product {
  flex-grow: 1;
}

.productInfo {
  padding: 1em;
  height: 10rem;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: 700;
}

/* ================= */
footer {
  border-top: 2px solid #777;
}

.quantityDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.no-spinners {
  width: 2rem;
}

/* For Chrome */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartInfo {
  display: block;
  font-size: 1.2rem;
}

.cartDiv {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
}

.cartImg img {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: cover;
}

.cartProductInfo {
  display: flex;
}

.delBtn {
  display: inline-block;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.sumDiv {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

button {
  margin: 0.2em;
}

.checkoutTotal,
.sumDiv p {
  grid-area: 1/4/2/5;
  font-weight: 700;
  font-size: 2rem;
}

.homepage {
  font-size: 1.5rem;
}

/* =============Page================ */
.pageWrapper {
  border: 1px solid black;
  display: flex;
  height: 70vh;
}

.pageImgDiv {
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageImg {
  width: 18rem;
  height: auto;
}

.pageInfo {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 3em;
  gap: 2em;
}

.returnBtn {
  display: flex;
  padding: 1em;
}

.pageContainer {
  padding: 2em;
}
